@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html,
body,
main,
#app {
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  place-items: center;
  font-weight: normal;
}
